html, body {
  width: 100%;
  height: 100%;
  overflow: hidden;
  background-color: #fffce4;
}
#scene {
  display: block;
  margin: 2% auto 0;
  height: 98%;
}
.credits {
  position: absolute;
  bottom: 20px;
  left: 20px;
  a {
    font-size: 12px;
    transition: all 0.3s ease;
    text-decoration: none;
    color: #202020;
    &:hover {
      color: #3498db;
    }
  }
}
#replay {
  outline: none;
  font-size: 15px;
  position: absolute;
  right: 20px;
  bottom: 20px;
  padding: 5px;
  cursor: pointer;
  transition: all 0.3s ease;
  color: white;
  border: 0;
  background: #3498db;
  &:hover {
    background: lighten(#3498db, 10%);
  }
}
#rain * {
  opacity: 0;
}
.tr-c {
  transform-origin: center center;
}
#cloud {
  animation: cloud 10s ease infinite;
}
#sun-border {
  animation: sunborder 60s linear infinite;
  transform-origin: center center;
}
#butterfly {
  animation: butterfly 5s linear infinite;
  transform-origin: center center;
}
.jowl {
  animation: jowl 2s ease infinite;
  transform-origin: center center;
}
.moving-arm {
  #left-arm {
    animation: leftarm 2s ease infinite;
    transform-origin: center right;
  }
  #right-arm {
    animation: rightarm 2s ease infinite;
    transform-origin: center left;
  }
}
.moving-leaf {
  &#leaf {
    animation: leaf 2s ease infinite;
    transform-origin: bottom right;
  }
}
@keyframes cloud {
  0%,
  100% {
    transform: translate(3%) rotate(-2deg);
  }
  50% {
    transform: translate(-20%) rotate(3deg);
  }
}
@keyframes sunborder {
  0% {
    transform: scale(1) rotate(0deg);
  }
  50% {
    transform: scale(0.8) rotate(180deg);
  }
  100% {
    transform: scale(1) rotate(360deg);
  }
}
@keyframes butterfly {
  0%,
  100% {
    transform: scale(1) rotate(0deg);
  }
  25% {
    transform: scale(0.9) rotate(-10deg) translate3d(3%,-10%,0);
  }
  50% {
    transform: scale(1) rotate(4deg) translate3d(-10%,-20%,0);
  }
}
@keyframes jowl {
  0%,
  100% {
    transform: scale(1.1);
  }
  50% {
    transform: scale(0.85);
  }
}
@keyframes leftarm {
  0%,
  100% {
    transform: rotate(0);
  }
  50% {
    transform: rotate(-8deg);
  }
}
@keyframes rightarm {
  0%,
  100% {
    transform: rotate(0);
  }
  50% {
    transform: translateY(-5%) rotate(-2deg);
  }
}
@keyframes leaf {
  0%,
  100% {
    transform: rotate(0);
  }
  50% {
    transform: translate3d(3%,4%,0) rotate(-5deg);
  }
}
